doctype html
html
    head
        meta(charset='utf-8')
        title Resume
        link(rel='stylesheet', href='fonts.css')
    body
        - 
            var educationList = [
                {title: 'Master Degree ', data: ' // Feb 2011 - Jun 2014', headerh4: 'University name', text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.'}, 
                {title: 'Master Degree ', data: ' // Feb 2011 - Jun 2014', headerh4: 'University name', text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.'},
                {title: 'Master Degree ', data: ' // Feb 2011 - Jun 2014', headerh4: 'University name', text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.'}, 
                {title: 'Master Degree ', data: ' // Feb 2011 - Jun 2014', headerh4: 'University name', text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.'}]; 
        - 
            var expirienceList = [
                {title: 'Company name', data: '// Feb 2011 - Jun 2014', headerh4: 'Your job here', text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.'}, 
                {title: 'Company name', data: '// Feb 2011 - Jun 2014', headerh4: 'Your job here', text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.'},
                {title: 'Company name', data: '// Feb 2011 - Jun 2014', headerh4: 'Your job here', text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.'},]; 
        - 
            var softList1 = [
                {title: 'Photoshop', class: 'ps'},
                {title: 'Illustrator', class: 'drw'},
                {title: 'Indesign', class: 'ill'}];
            var softList2 = [
                {title: 'Dreamweaver', class: 'ae'},
                {title: 'After effects', class: 'ind'},
                {title: 'HTML&CSS3', class: 'htmlCss3'}];          
        mixin titles(sectionName)
            div.titles(class=sectionName)
                h3=sectionName
                if block
                    block
                else
                    p No content provided
        mixin contactRow(name, value)
            div.contactRow
                div.nameCol=name
                div.valueCol=value
        mixin skillsDots(blue, grey, skill)
            div.skillsRow
                h4=skill
                ul.skillsDots
                    - for(var i=1; i<=blue; i++){
                        li
                            div(class="dot blue")
                    - }
                    - for(var i=1; i<=grey; i++){
                        li
                            div(class="dot grey")
                    - }
        mixin  EducationAndExpirience(Info)
            li
                div.blockEducation
                    span.blockTitle=Info.title
                    span.data=Info.data
                    h4.university=Info.headerh4
                    p.text=Info.text
        mixin SoftSection(SoftInfo)
            div.softCol
                h4=SoftInfo.title
                div.greyBar
                    div.blueBar(class=SoftInfo.class)         
        
        div.flexbox
            // Photo section
            div.rightcol
                div(class="head")
                    div(class="shild")
                    h2 name here
                    h1 surname
                    h4 graphic designer   
                // Profile section
                +titles('profile')
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu <b>pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.</b> 
                // Contact section
                +titles('contact')
                    +contactRow('Address', 'Main Street, City.')
                    +contactRow('e-mail', 'contact@domain.com')
                    +contactRow('phone', '555-555-555')
                    +contactRow('website', 'www.yourweb.com')
                // Skills section
                +titles('skills')
                    +skillsDots(9, 3, 'Creative')
                    +skillsDots(11, 1, 'Teamwork')
                    +skillsDots(6, 6, 'Innovate')
                    +skillsDots(11, 1, 'Communication')
            div.leftcol
                // Education section
                +titles('education')
                    ul
                        each i in educationList
                            +EducationAndExpirience(i)               
                // Expirience section
                +titles('expirience')
                    ul
                        each i in expirienceList
                            +EducationAndExpirience(i) 
                // Software section
                +titles('software')
                    div.cols
                        div.col1
                            each i in softList1
                                +SoftSection(i)
                        div.col2
                            each i in softList2
                                +SoftSection(i)
                


        
        
	
        




